.list {
  $row-bg-light: #ffffff;
  $row-bg-gray: #f4f2f1;


  .flex {
    &:nth-child(odd) {
      background: $row-bg-gray;
    }

    // transition: 0.5s;
    // &:hover {
    //   &:nth-child(even) {
    //     background-color: $row-bg-gray;
    //   }

    //   &:nth-child(odd) {
    //     background-color:$row-bg-light ;
    //   }
    // }
  }
}